<section class="container">
    <div class="row text-center-small text-left-medium flex-items-center-medium">
        <div class="col-small-12 space-small nospace-medium col-medium-grow">
            <h2>MyFLIGHT</h2>
            <div>&copy; 2017</div>
        </div>
        <div class="col-small-12 col-medium-shrink">
            <img width="30" height="30" src="img/facebook.svg"><!--
            --><img width="30" height="30" src="img/twitter.svg"><!--
            --><img width="30" height="30" src="img/linkedin.svg"><!--
            --><img width="30" height="30" src="img/googleplus.svg">
        </div>
    </div>
</section>