<nav id="navigation">
    <div class="container">
        <div class="row flex-items-center-small">
            <div class="col-small-grow">
                <a class="mono" onclick="go('partials/search.html')">MONO</a>
            </div>
            <div class="col-small-shrink">
                <a onclick="go('partials/search.html')">SEARCH</a>
            </div>
            <div class="col-small-shrink">
                <a onclick="go('partials/searchresult.html')">LOCATIONS</a>
            </div>
        </div>
    </div>
</nav>

<section id="banner">
    <div class="container">
        <div class="center-block max-500">
            <h1 class="h1-big">
                <div>Discover.</div>
                <div>Order. Travel.</div>
            </h1>
            <p><b>Lorem ipsum</b> dolor sit amet, consectetur adipiscing elit. Donec volutpat magna ut venenatis efficitur. Pellentesque a urna semper, pharetra sapien sit amet, lacinia velit.</p>
            <a class="button">Read more</a>
        </div>
    </div>
</section>