<div class="container">
    <div class="row flex-justify-end-small x2-space-large">
        <div class="col-small-12 col-large-9 space-small nospace-large">
            <label for="fromairport">From city or airport</label>
            <input id="fromairport" type="text" placeholder="Type to search...">
        </div>

        <div class="col-small-12 col-large-grow">
            <label for="fromdate">From date</label>
            <input id="fromdate" type="text" placeholder="YYYY-MM-DD">
        </div>
    </div>

    <div class="row flex-justify-end-small x2-space-large">
        <div class="col-small-12 col-large-9 space-small nospace-large">
            <label for="toairport">To city, airport or region</label>
            <input id="toairport" type="text" placeholder="Type to search...">
        </div>

        <div class="col-small-12 col-large-grow">
            <label for="todate">To date</label>
            <input id="todate" type="text" placeholder="YYYY-MM-DD">
        </div>
    </div>

    <div class="row space-small">
        <div class="col-small-shrink space-small nospace-large">
            <label for="passengers">Passengers</label>
            <input id="passengers" class="text-center" type="text" minlength="1" maxlength="2" value="1">
        </div>

        <div class="col-small-grow">
            <label for="trip">Trip type</label>
            <select id="trip">
                <option>One-way trip</option>
                <option>Return trip</option>
            </select>
        </div>

        <div class="col-small-12 col-large-grow">
            <label for="class">Ticket class</label>
            <select id="class">
                <option>Economy class</option>
                <option>Business class</option>
                <option>First class</option>
            </select>
        </div>
    </div>

    <div class="row flex-justify-center-small">
        <button class="button" type="button" onclick="go('partials/searchresult.html')">Search</button>
    </div>
</div>