@import "variables";

input,
textarea,
select {
    display: block;
    width: 100%;
    height: 55px;
    padding: $padding;
    outline: 0 none;
    border: 2px solid $textColor;
    font-weight: bold;

    &:focus {
        outline: 0 none;
        background-color: $textColor;
        color: $white;
    }

    ::placeholder {
        color: $borderColor;
    }

    &:focus::placeholder {
        color: $white;
    }
}

label {
    display: inline-block;
    padding-bottom: $gutter;
    font-weight: bold;
}

.button {
    display: inline-block;
    line-height: 51px;
    border: 2px solid $textColor;
    padding: 0 $padding*2;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;

    &:hover,
    &:focus {
        background-color: $textColor;
        color: $white;
    }
}