@import "variables";

input[type="button"],
input[type="checkbox"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="radio"],
input[type="range"],
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
    outline: 0 none;
    border: 0;
    background-color: transparent;
    line-height: 1;
    background-color: $white;

    &:focus {
        outline: 0 none;
    }
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
    display: block;
    width: 100%;
    max-width: 100%;
    height: $inputHeight;
    border: 1px solid $grey2;
    border-bottom-color: $grey3;
    padding: $padding;
    transition: background-color 0.4s ease, border-color 0.4s ease;

    &:focus {
        border-color: $black;
        background-color: lighten($black, 95%);
    }
}

label {
    display: inline-block;
    padding-bottom: $gutter;
    line-height: 1;
}

.error {
    border-color: red !important;
}

.input-group {
    position: relative;

    [class*="icon-"] {
        position: absolute;
        top: 0;
        left: $padding;
        padding-right: $padding - 2px;
        border-right: 1px solid $grey2;
        transition: border-color 0.4s ease;

        &:before {
            transition: color 0.4s ease;
            line-height: $inputHeight;
            font-size: $iconSize1;
            color: $grey3;
        }
    }

    input:focus + [class*="icon-"],
    select:focus + [class*="icon-"] {
        border-right-color: $black;
    }

    input:focus + [class*="icon-"]:before,
    select:focus + [class*="icon-"]:before {
        color: $black;
    }

    select,
    input {
        padding-left: $iconSize1 - 2px + (3 * $padding);
    }
}

input[type="button"],
input[type="submit"] {
    background-image: none;

    &:active {
        outline: 0 none;
    }
}

.button,
input[type="button"],
input[type="submit"] {
    display: inline-block;
    height: $inputHeight;
    border: 1px solid $grey2;
    border-bottom-color: $grey3;
    padding: $padding $padding*2;
    color: $black;
    text-decoration: none;
    line-height: 1;
    transition: background-color 0.4s ease, border-color 0.4s ease;

    &:hover,
    &:focus {
        background-color: lighten($black, 95%);
    }

    &:focus {
        border-color: $black;
    }
}