@import "variables.scss";

html,
body {
    min-height: 100vh;
    overflow-x: hidden;
}

#page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#header {
    padding: $padding 0;
    border-bottom: 1px solid $grey2;
}

#main {
    flex: 1;
    padding-top: (4 * $padding);
    padding-bottom: (4 * $padding);
}

#footer {
    padding: (2 * $padding) 0;
    border-top: 1px solid $grey2;
}