@import "variables.scss";

html {
    font-size: $fontSize;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: $lineHeight;
    color: lighten($black, 10%);
    background-color: #FFF;
}

hr {
    border: 0;
    border-bottom: 1px solid $grey2;
    margin: (2 * $padding) 0;
}

.text-nowrap {
    white-space: nowrap;
    overflow: visible;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

a {
    cursor: pointer;
}

%heading {
    margin: 0 0 $padding 0;
    line-height: 1;
    font-weight: normal;
}

@for $index from 1 through 6 {
    #{h + $index} {
        @extend %heading;
        font-size: floor($fontSizeHeading * ((11 - $index) / 10));
    }
}