@import "variables.scss";

html {
    font-size: $defaultFontSize;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: $defaultLineHeight;
    color: $defaultColor;
    background-color: #FFF;
}

.bg {
    background-color: #EEE;
    min-height: 100px;
}