//Grid variables 
$prefix: "col";
$small: "small";
$medium: "medium";
$large: "large";
$xlarge: "xlarge";
$columns: 12;
$gutter: 7px;

$breakpoint0: 320px;
$breakpoint1: 544px;
$breakpoint2: 768px;
$breakpoint3: 992px;
//$breakpoint3: 1200px;

//Other
$fontSize: 16px;
$fontSizeHeading: $fontSize * 2;
$lineHeight: 1.4;
$radius: 6px;

$iconSize1: 20px;
$iconSize2: 40px;
$iconSize3: 60px;
$iconSize4: 80px;

//$grey1: #808080;
//$grey2: #CCCCCC;
//$grey3: #A6A6A6;
//$grey4: #383838;
$black: #000000;
$white: #FFFFFF;

$padding: $fontSize;

//$inputHeight: floor($lineHeight * $fontSize) + floor($padding * 2) - 1px;

//COLORS
$teal: #84D2DA;
$contraTeal: #263D40;
$textColor: #2B2E33;
$borderColor: #A6A6A6;