//Grid variables 
$prefix: "col";
$small: "small";
$medium: "medium";
$large: "large";
$columns: 12;
$gutter: 7px;

//Other
$fontSize: 14px;
$lineHeight: 1.4;
$radius: 4px;

$grey1: #808080;
$grey2: #CCC;
$grey3: #A6A6A6;
$orange1: #bf691d;

$padding: $fontSize;

$inputHeight: floor($lineHeight * $fontSize) + floor($padding * 2) - 1px;